<template lang="pug">
	div#app

		#videos
			#subscriber.bg-dark
			#subscriber-shared-screen
			#video-publisher
			#screen-publisher

		b-btn-toolbar.toolbar
			
			//- b-input-group(
			//- 	size="sm"
			//- 	prepend="Cámara")
			//- 	b-form-select(v-model="selectedDevices.video")
			//- 		option(v-for="d in videoDevices" :value="d") {{ d.label }}

			//- b-input-group(
			//- 	size="sm"
			//- 	prepend="Micrófono")
			//- 	b-form-select(v-model="selectedDevices.audio")
			//- 		option(v-for="d in audioDevices" :value="d") {{ d.label }}

			b-btn-group.ml-4
				template(v-if="!state.connected")
					b-btn(
						size="sm"
						variant="primary"
						@click="connectToSession()") Conectar a sesión
				template(v-if="state.connected")
					b-btn(
						v-if="screenPublisher"
						size="sm"
						variant="info"
						@click="stopScreenSharing()") Dejar de compartir pantalla
					b-btn(
						v-else
						size="sm"
						variant="info"
						@click="initializeScreenSharing()") Compartir pantalla
					b-btn(
						size="sm"
						variant="danger"
						@click="disconnectSession()") Desconectar de sesión

</template>

<script>
import OT from '@opentok/client';
import { apiKey, sessionId, token } from '../config/keys.json'

export default {
	name: 'App',
	data() {
		return {
			state: {
				connected: false,
			},
			session: null,
			devices: [],
			videoPublisher: null,
			screenPublisher: null,
			selectedDevices: {
				audio: null,
				video: null,
			}
		}
	},
	mounted() {
		// OT.getDevices((err, devices) => {
		// 	if (err) {
		// 		this.handleError(err)
		// 	}
		// 	this.devices = devices
		// });
		this.initializeSession();
		this.initCameraPublisher();
	},
	computed: {
		audioDevices() {
			return this.devices.filter(d => d.kind == 'audioInput')
		},
		videoDevices() {
			return this.devices.filter(d => d.kind == 'videoInput')
		}
	},
	methods: {
		handleError(error) {
			if (error) {
				alert(error.message);
			}
		},
		connectToSession() {

			let session = this.session;

			// if (!this.selectedDevices.audio || !this.selectedDevices.video) { return alert('Selecciona tu cámara y micrófono') }

			session.connect(token, (error) => {
				if (error) {
					this.handleError(error);
				} else {
					
					if (!this.videoPublisher) {
						this.initCameraPublisher()
					}

					session.publish(this.videoPublisher, this.handleError);
					
					this.state.connected = true
				}
			});
		},
		initCameraPublisher() {
			let options = {
				insertMode: 'append',
				width: '100%',
				height: '100%'
			};

			this.videoPublisher = OT.initPublisher('video-publisher', options, this.handleError);
		},
		initializeSession() {

			let _this = this;
			
			if (OT.checkSystemRequirements()) {

				let session = OT.initSession(apiKey, sessionId);

				session.on('connectionCreated', (event) => {
					console.log('connectionCreated', {event})
				})

				session.on('connectionDestroyed', (event) => {
					console.log('connectionDestroyed', {event})
				})

				// Subscribe to a newly created stream
				session.on('streamCreated', (event) => {

					let el = event.stream.videoType == 'screen'
						? 'subscriber-shared-screen'
						: 'subscriber'
					
					// console.log('streamCreated', {event})
					
					session.subscribe(event.stream, el, {
						insertMode: 'append',
						width: '100%',
						height: '100%'
					}, this.handleError);

				});


				session.on('sessionDisconnected', (event) => {
					if (event.reason == "networkDisconnected") {
						alert("Your network connection terminated.")
					} else {
						alert('desconectado!')
					}
					this.state.connected = false
				})

				this.session = session;

			} else {

				alert('navegador obsoleto')
			
			}
		},
		initializeScreenSharing() {
			let session = this.session;
			let options = {
				insertMode: 'append',
				videoSource: 'screen',
				width: '100%',
				height: '100%'
			};

			let publisher =  OT.initPublisher('screen-publisher', options, (error) => {
				if (error) {
					this.handleError(error)
				} else {
					session.publish(publisher, (error) => {
						if (error) {
							this.handleError(error)
						}
					});
					this.screenPublisher = publisher
				}
			});
		},
		stopScreenSharing() {
			this.session.unpublish(this.screenPublisher)
			this.screenPublisher = null
		},
		disconnectSession() {
			this.session.disconnect();
			this.videoPublisher = null;
		}
	}
}

</script>

<style lang="scss">
.toolbar {
	position: absolute;
	top: 0;
	width: 100%;
	padding: .5rem;
	background-color: white;
	opacity: .8;
	z-index: 50;
}

#videos {
	height: 100vh;
	position: relative;

	#subscriber,
	#subscriber-shared-screen {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		
	}

	#subscriber { z-index: 10; }
	#subscriber-shared-screen { z-index: 20; }

	#video-publisher,
	#screen-publisher {
		position: absolute;
		width: 360px;
		height: 240px;
		bottom: 10px;
		left: 10px;
		border: 3px solid white;
		border-radius: 3px;
		z-index: 30;
	}
	#screen-publisher { z-index: 40; }
}
</style>
